#ignore misc BYOND files
Thumbs.db
baystation12.dme.rej
README.md
*.log
*.int
*.rsc
*.dmb
*.lk
*.backup
maps/backup
data/
config/

/.gitattributes
/.gitignore
/.gitconfig
maps/asteroid/part.1.3 (2).dmm
